<!DOCTYPE html>
<html>

<head>
    <title>Irmãos Ferreira</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <% include partials/nav.ejs %>

        <nav>
            Content..
        </nav>

        <script type="javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <!--<script src="./app.js"></script>-->
</body>

</html>