body {
    background-image: url('../../bg-texture.png');
    background-repeat: repeat;
}

.header-navbar {
    background-image: url('../../bg-texture2.png');
    background-repeat: repeat;
}

.header-navbar .brand-logo {
    width: 90px;
}

.header-navbar .navbar-form {
    margin: 34px 0;
}

.header-navbar .navbar-form input {
    width: 340px!important;
    height: 40px;
    border-radius: 0;
}

.header-navbar .navbar-form button {
    height: 40px;
    border-radius: 0;
}

.header-navbar .navbar-brand {
    height: 100%;
    padding: 10px 15px;
}

.header-navbar .navbar-form {

}

.header-navbar .navbar-header > * {
    display: inline-block;
}

.header-navbar .brand-name {
    color: #9d9d9d;
}

.header-navbar .brand-name h2 {
    margin-top: 12px;
}

.top-menu-navbar {
    margin: 0 60px;
}

.header-contacts {
    margin-top: 10px;
}

.header-contacts span {
    color: #9d9d9d!important;
    height: 20px;
    line-height: 20px;
    word-spacing: -9px;
}

.header-contacts span.glyphicon-earphone {
    margin-right: 15px;
}

.header-contacts span::before {
    font-size: 11px;
    margin-right: 4px;
}